<template>
  <div class="about">
    <title>Coming Soon</title>
    <body>Here will be a description of me in a cv like manner</body>
  </div>
</template>

<style>

@media (min-width: 1024px) {

  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
